* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #00c6ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-size: 16px;
}

h1 {
  text-align: center;
  margin: 50px auto 40px;
  font-weight: 600;
}

form {
  border-radius: 45px 15px 45px 15px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #FC354C;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ABFBC, #FC354C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
}

form input {
  flex: 1;
  height: 50px;
  border: 0;
  outline: 0;
  background: transparent;
  color: #fff;
  font-size: 16px;
  padding: 0 15px;
}

form button {
  padding: 0 20px;
  height: 50px;
  background: #5f2c82;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49a09d, #5f2c82);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-size: 16px;
  border: 0;
  border-radius: 25px;
  outline: 0;
  cursor: pointer;
}

::placeholder {
  color: #fff;
  font-size: 16px;
}

#show-more-btn {
  background: #DE6262;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFB88C, #DE6262);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  border-radius: 25px;
  margin: 10px auto;
  cursor: pointer;
  display: none;
}

#search-result {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

#search-result img {
  width: 100%;
  height: 150px;
  border-radius: 12px;
}

@media (max-width: 768px) {
  h1 {
    margin-top: 30px;
  }

  form input {
    font-size: 14px;
  }

  #search-result {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  form {
    padding: 15px;
  }

  form input,
  form button {
    height: 40px;
    font-size: 14px;
  }

  #search-result img {
    height: 180px;
  }
}